@import url(Tajawal-Bold.ttf);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Tajawal;
    src: url(Tajawal-Bold.ttf);
}

body{
   font-family: Tajawal;
}
/********************************* Upper Navbar *************************************/
.upperNav{
    background: #EDEFF0;
    padding: 16px 0;
}

.upperNav p{
    margin: 0;
}

.upperNav .content .lang ul{
    padding: 0;
    margin: 0;
}

.upperNav .content .lang li{
    list-style: none;
    font-weight: 500;
}

.upperNav .center{
    color: #4C4C4C;
    font-weight: bold;
    font-size: 16px;
}

.upperNav #date{
    font-size: 16px;
    font-weight: 500;
}
/********************************* Navbar *************************************/
.navbar{
    background-color: #fff;
}

.navbar a{
    color: #000;
    font-size: 16px;
}

.navbar .navbar-brand{
    margin: 0;
}

.navbar .navbar-brand img {
    width: 87px;
    height: 85px;
}

.navbar li{
    font-size: 16px;
    font-weight: 500;
}

.navbar .nav-link:hover,
.navbar .nav-link:active{
    color: #000;
}

.navbar .dropdown-menu{
    display: block !important;
    transform: translateY(-1000rem);
    transition: all .3s linear;
}

.navbar ul.show{
    animation: toDown .3s linear;
    transform: translateY(0) !important;
}

@keyframes toDown {
    0%{transform: translateY(-1000rem)}
    25%{transform: translateY( 0 )}
    50%{transform: translateY( 5px )}
    75%{transform: translateY( -5px )}
    100%{transform: translateY( 0 )}
}

/********************************* Header *************************************/
#header .header{
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../pics/Dy1JGkJWkAEJgXu@2x.png);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .content{
    text-align: center;
}

.header .content p,
.header .content h1{
    color: #fff;
}

.header .content p{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.header .content h1{
    font-size: 35px;
    font-weight: bold;
    margin: 1rem 0;
}
.header .search-box{
    margin: 32px 0;
    position: relative;
    height: 80px;
}

.header .search-box a{
    position: absolute;
    left: 12px;
    color: #fff; 
    height: 75%;
    width: 120px;
    background-color: #4C4C4C; 
    border-radius: 40px; 
    text-decoration: none; 
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .search-box input{
    height: 100%;
    border: none;
    border-radius: 40px;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
}

.header .search-box .icon{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 2rem 0 .5rem;
}

.header .search-box .drop-down-box{
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 221px;
    height: 100%;
    text-align: center;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
}

.header .search-box .main{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96%;
    width: 98%;
    background-color: #4C4C4C;
    border-radius: 40px;
    position: relative;
}

.header .search-box ul li{
    color: #fff;
    list-style: none;
    cursor: pointer;
}

.header .search-box ul li img:last-of-type{
    margin-left: 8px;
}

.header .search-box .secondary{
    position: absolute;
    flex-direction: column;
    background-color: #4C4C4C;
    width: 100%;
    text-align: center;
    padding: 0;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s ease-in-out;
}

.header .search-box .secondary hr{
    margin: 0;
}

.header .search-box .secondary li{
    padding: .5rem 0;
    transition: all .3s ease-in-out;
}

.header .search-box .secondary li:hover{
    background-color: #707070;
}

.header .search-box .hidden{
    display: none;
}

/*********************************  من هو النبي محمد ﷺ ؟  *************************************/
.head{
    margin-bottom: 80px;
}
.head h2,
#timeLine h3
{
    font-size: 35px;
    font-weight: bold;
}

.head p,
#timeLine p{
    font-size: 18px;
    margin-top: 1rem;
    color: #AAAAAA;
}

#definition{
    padding: 90px 0;
}

#definition .image{
    width: 160px;
    height: 160px;
    background-color: rgba(62,103,136,0.051);
    border-radius: 50%;
    margin-bottom: 1rem;
}

#definition img{
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    transform: translateY(15%);
}

#definition .content{
    margin-top: 16px;
}

#definition h3{
    font-size: 22px;
    font-weight: bold;
}

#definition p{
    font-size: 16px;
    font-weight: 500;
    color: #AAAAAA;
}

#definition .owl-nav{
    text-align: center;
}

#definition .owl-next,
#definition .owl-prev{
    position: absolute;
    transform: translateY(-50%);
    top: 40%;
    height: 40px;
    width: 40px;
    background-color: #9E7C6E;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
}

#definition .owl-next{
    right: -4rem;    
}

#definition .owl-prev{
    left: -4rem;    
}

#definition .owl-nav:hover,
#definition .owl-nav.active{
    background: #fff !important;
}
/********************************* دلائل النبوة *************************************/
#nebwa{
    padding: 55px 0;
    position: relative;
}

#nebwa .backGround,
#shma2l .backGround,
#email .backGround,
.last_footer .backGround{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9E7C6E;
    opacity: .1;
    z-index: -1;
}

#nebwa .box{
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nebwa .box .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    z-index: -1;
}

#nebwa .box .img1,
#nebwa .box .img2{
    background-position: center;
    background-size: contain;
}

#nebwa .box .img1{
    background-image: linear-gradient(to right, #707070 50%, #7070702b ), url(../pics/nbwa.png); 
}
#nebwa .box .img2{
    background-image: linear-gradient(to right , #9e7c6e 50% , #9e7c6e3d), url(../pics/nbwa.png);
}

#nebwa .box h3{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
#nebwa .box p{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
/********************************* خصائص النبي *************************************/
#characteristics,
#shma2l,
#sera{
    padding: 90px 0;
}

#characteristics .content,
#sera .content{
    margin-right: 50px;
}

#characteristics .content .row,
#shma2l .content .row,
#sera .content .row{
    --bs-gutter-x: 1rem;
    justify-content: end;
}

#characteristics .content .item,
#shma2l .content .item,
#sera .content .item{
    border: 1px solid #3E6788;
    border-radius: 100px;
    padding: 8px;
    margin-bottom: 1rem;
    width: initial;
    height: 80px;
}

#characteristics .content .item a,
#shma2l .content .item a,
#sera .content .item a{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

#characteristics .content .item img,
#shma2l .content .item img,
#shmeracontent .item img{
    width: 24px;
    height: 24px;
    margin-left: 6px;
}

#characteristics .image img,
#shma2l .image img,
#sera .image img{
    height: 356px;
}
/********************************* الشمائل المحمدية *************************************/
#shma2l{
    position: relative;
}

#shma2l .content{
    margin-left: 50px;
}

#shma2l .content .item{
    background-color: #fff !important;
}
/*********************************  السيرة النبوية *************************************/

/*********************************  المخطط الزمني لسيرته العطرة ﷺ  *************************************/
#timeLine{
    position: relative;
    height: 257px;   
    background-image:  url(../pics/timeLine.png);
    backdrop-filter: brightness(0.5);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

#timeLine .button{
    width: 270px;
    height: 80px;
    line-height: 80px;
    background-color: #9e7c6e;
    border-radius: 100px;
    text-align: center;
}

#timeLine a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

#timeLine h3{
    color: #fff;
}
/*********************************  النشرة البريدية  *************************************/
#email{
    margin: 75px 0;
}

#email .box{
    padding: 50px 0;
    position: relative;
}

#email .backGround{
    border-radius: 20px;
}

#email .head{
    margin-bottom: 0;
}

#email .pic{
    margin-left: 29px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #9E7C6E;
    line-height: 65px;
    text-align: center;
}

#email input{
    height: 70px;
    border-radius: 100px !important;
    text-align: end;
}

#email input::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: #AAAAAA;
    margin-right: 30px;
}

#email .search_box{
    position: relative;
}

#email .search_box a,
#email .search_box img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#email .search_box a{
    left: 10px;
    background-color: #9E7C6E;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
}

#email .search_box img{
    right: 25px;
}
/********************************* Footer *************************************/
#footer{
    margin-bottom: 75px;
}

#footer .pic_box{
    flex-direction: column;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    height: 207px;
}

#footer .pic_box img{
    height: 140px;
}

#footer .pic_box p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

#footer .links h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2rem;
}

#footer .links li{
    list-style: none;
    font-size: 16px;
    font-weight: 500
}

#footer .links li:not(:last-of-type){
    margin-bottom: .8rem;
}

#footer .links li a{
    color: #000;
    text-decoration: none;
}

#footer .right{
    flex-direction: column;
}

#footer .right img{
    margin-bottom: 1.5rem;
}

#footer .right p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.last_footer{
    position: relative;
    height: 60px;
    line-height: 60px;
}

.last_footer p{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    color: #AAAAAA;
}

.last_footer a{
    color: #AAAAAA;
    margin-right: .5rem;
    transition: all .3s linear;
}

.last_footer a:hover{
    color: #9E7C6E;
}
/*********************************  MEDIA SCREEN  *************************************/
@media(max-width: 600px){
    .upperNav{
        padding: 14px 0;
    }
    
    .upperNav .content .lang li{
        font-weight: 500;
    }
    
    .upperNav .center{
        font-weight: 700;
        font-size: 13px;
    }
    
    .upperNav #date{
        font-size: 15px;
        font-weight: 500;
    }

    .header .content p{
        font-size: 18px;
    }
    
    .header .content h1{
        font-size: 30px;
        margin: 1rem 0;
    }
    
    .header .content .search{
        width: 436px !important;
    }
        
    .header .content .search a:first-child{
        padding: 0 1rem;
    }
    
    .header .content .search a:last-child{
        padding: 0 .5rem;
    }
    
    .header .content .search span{
        right: 42% !important;
    }
        
    .header .content input::placeholder{
        right: 48% !important;
    }    
    /************* من هو النبي محمد ﷺ ؟ ***************/
    .head{
        margin-bottom: 60px;
    }
    .head h2,
    #timeLine h3
    {
        font-size: 30px;
    }
    
    .head p,
    #timeLine p{
        font-size: 16px;
    }
    
    #definition{
        padding: 70px 0;
    }
    
    #definition .image{
        width: 140px;
        height: 140px;
        margin-bottom: .5rem !important;
    }
    
    #definition img{
        width: 100px;
        height: 100px;
    }
    
    #definition h3{
        font-size: 20px;
    }
    
    #definition p{
        font-size: 14px;
    }
    
    #definition .owl-next{
        right: -.5rem;    
    }
    
    #definition .owl-prev{
        left: -.5rem;    
    }
    /************** دلائل النبوة ***************/ 
    #nebwa .box h3{
        font-size: 25px;
    }
    #nebwa .box p{
        font-size: 16px;
    } 
    /************* خصائص النبي *****************/ 
    #characteristics .content .item,
    #shma2l .content .item,
    #sera .content .item{
        height: 50px;
        width: 75%;
    }
    
    #characteristics .content .item a,
    #shma2l .content .item a,
    #sera .content .item a{
        font-size: 16px;
    }
    
    #characteristics .content .item img,
    #shma2l .content .item img,
    #shmeracontent .item img{
        width: 24px;
        height: 24px;
        margin-left: 2px;
    }    
    /**************** الشمائل المحمدية *******************/
    #shma2l .content{
        margin-left: 0;
    }
    /****************  السيرة النبوية ****************/
    
    /****************  المخطط الزمني لسيرته العطرة ﷺ ****************/

    /***************  النشرة البريدية  *****************/

}

@media(max-width: 768px){
    .header .content .search{
        width: 600px;
    }

    .header .content .search span{
        right: 35%;
    }
        
    .header .content input::placeholder{
        right: 42%;
    }
    
    #nebwa{
        padding: 40px 0;
    }

    #nebwa .box{
        height: 200px;
        margin-bottom: 1rem;
    }

    #characteristics,
    #shma2l,
    #sera{
        padding: 40px 0;
    }
    
    #characteristics .content,
    #sera .content{
        margin-right: 0;
    }

    #characteristics .content .item,
    #shma2l .content .item,
    #sera .content .item{
        height: 60px;
        width: 85%;
        margin: auto;
        margin-bottom: .5rem;
    }
    
    #characteristics .image img,
    #shma2l .image img,
    #sera .image img{
        height: 300px;
        margin: .5rem 0;
    }

    #timeLine{
        height: 200px !important;
    }
    
    #timeLine .row{
        flex-direction: column-reverse;

    }
    
    #timeLine .button{
        display: inline;
        padding: 14px 10px;
        width: 170px;
        height: 60px !important;
        line-height: 60px !important;
    }
    
    #timeLine a{
        font-size: 18px !important;
    }
    
    #timeLine h3{
        font-size: 20px !important;
    }   
    
    #timeLine p{
        font-size: 14px !important;
    }

    #email{
        margin: 50px 0;
    }
    
    #email .box{
        flex-direction: column-reverse;
    }
    
    #email .head{
        margin-bottom: 0;
    }
    
    #email .pic{
        width: 50px;
        height: 50px;
        line-height: 45px;
    }
    
    #email input{
        height: 50px;
    }
    
    #email input::placeholder{
        font-size: 14px;
        margin-right: 15px;
    }
    
    #email .search_box{
        width: 75% !important;
    }
    
    #email .search_box a{
        left: 6px;
        width: 80px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    
    #email .search_box img{
        right: 10px;
    }
     
}

@media(max-width: 992px){
    .nav .collapse ul li ul li{
        width: 100%;
    }

    .header .content .search{
        width: 600px;
    }

    .header .content .search span{
        right: 30%;
    }
        
    .header .content input::placeholder{
        right: 35%;
    }

    #definition .owl-next{
        right: -1rem;    
    }
    
    #definition .owl-prev{
        left: -1rem;    
    }

    #nebwa .head{
        margin-bottom: 60px;
    }

    #nebwa .box{
        height: 200px;
    }

    #nebwa .box h3{
        font-size: 28px;
    }
    #nebwa .box p{
        font-size: 18px;
    } 

    #characteristics,
#shma2l,
#sera{
    padding: 70px 0;
}

#characteristics .content,
#sera .content{
    margin-right: 20px;
}

#characteristics .content .row,
#shma2l .content .row,
#sera .content .row{
    --bs-gutter-x: .5rem;
}

#characteristics .content .item,
#shma2l .content .item,
#sera .content .item{
    height: 60px;
}

#characteristics .content .item a,
#shma2l .content .item a,
#sera .content .item a{
    font-size: 15px;
}

#characteristics .image img,
#shma2l .image img,
#sera .image img{
    height: 300px;
}

#timeLine{
    height: 250px;
}

#timeLine .button{
    width: 170px;
    height: 60px;
    line-height: 60px;
}

#timeLine a{
    font-size: 18px !important;
}

#timeLine h3{
    font-size: 22px;
}   

#timeLine p{
    font-size: 16px;
}

#email .head{
    margin-bottom: 0;
}

#email .box{
    padding: 50px 20px;
    position: relative;
}

#email input{
    height: 60px;
}

#email input::placeholder{
    font-size: 14px;
    margin-right: 15px;
}

#email .search_box a{
    left: 10px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

#email .search_box img{
    right: 10px;
}

#footer{
    margin-bottom: 55px;
}

#footer .right{
    flex-direction: row-reverse;
    margin-top: 1rem;
}

#footer .right img{
    margin-bottom: 0;
    margin-left: 1rem;
}


}
